*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
html{
    height: 100%;
}
body{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: relative;
}
.banner{
  width: 100%;
  display: flex;
  font-size: 50px;
  height: 5%;
  align-items: center;
}

.banner .left{
  width: 20%;
}
.banner .month{
  width: 60%;
  text-align: center;
}
.banner .right{
  width: 20%;
  text-align: right;
}
.calendar {
  display: flex;
  width: 100%;
  height: 50%;
}
table{
    border: 1px blue solid;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
th{
  font-size: 30px;
}
td{
    border: 1px blue solid;
    font-size: 50px;
}
.calendar .clicked{
    border: 5px purple solid;
}
.calendar .blank {
  background: lightgrey;
}
.add-button{
  width: 100%;
  height: 5%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tasklist{
  width: 100%;
  border: 1px red solid;
  height: 40%;
  font-size: 60px;
}
.tasklist > ul{
  list-style-type: none;
  padding: 0;
}
.tasklist> ul > li {
  display: flex;
  border: green 1px solid;
  width: 100%;
  align-items: center;
}
.tasklist .time{
  width: 20%;
}
.tasklist .name{
  margin: 0px 15px;
  padding: 0px   15px;
  border: 1px solid blue;
}
.tasklist .edit{
  width: 20%;
}
