*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
    height: 100%;
    padding: 10px 10px;
}
body{
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
}
.main-menu-container{
  position: absolute;
  top: 5%;
  height: 95%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background: white;
}
.main-menu-container nav{
  height: 100%;
  font-size: 25px;
}
.main-menu-container ul{
    list-style-type: none;
    height: 100%;
}
.main-menu-container li{
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: lightblue;
  border: 1px black solid;
}
.stretch{
  transform: scaleX(1.0);
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
.body-container1{
  height:55%;
}
.body-container1 > div:first-child{
  height:9%;
}
.body-container1 > div:last-child{
  height:91%;
}
.body-container2{
  height: 45%;
  display: flex;
  flex-direction: column;
}
.body-container2 > div:first-child{
  height:15%;
}
.body-container2 > div:last-child{
  height:85%;
}
.banner{
  width: 100%;
  display: flex;
  font-size: 25px;
  align-items: center;
}
.banner .left{
  width: 20%;
}
.banner .month{
  width: 60%;
  text-align: center;
}
.banner .right{
  width: 20%;
  text-align: right;
}
.calendar {
  display: flex;
  width: 100%;
}
.body-container1 table{
    border: 1px blue solid;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.body-container1 th{
  font-size: 17px;
}
.body-container1 td{
    border: 1px blue solid;
    font-size: 20px;
}
.body-container1 .calendar .clicked{
    border: 5px purple solid;
}
.calendar .blank {
  background: lightgrey;
}
.add-button{
  width: 100%;
  height: 7%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: black 1px solid;
}
.tasklist{
  width: 100%;
  border: 1px red solid;
  height: 38%;
  font-size: 20px;
  overflow: scroll;
}
.tasklist > ul{
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 100%;
}
.tasklist> ul > li {
  display: flex;
  border: green 1px solid;
  width: 100%;
  align-items: center;
}
.tasklist .time{
  width: 20%;
}
.tasklist .name{
  margin: 0px 10px;
  padding: 0px 10px;
  border: 1px solid blue;
  width: 55%;
}
.tasklist .edit{
  width: 25%;
  height: 100%;
}
.tasklist .edit div {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
