.task-form-container{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  font-size: 18px;
  transform: scaleY(0);
  transform-origin: top;
  background: white;
}
.task-form-container form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.slide{
  transform: scaleY(1.0);
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
form > div {
  display: flex;
  height: 10%;
}
form table {
  font-size: 20px;
  border-collapse: collapse;
  height: 100%;
}
form table th{
  font-size: 17px;
}
form table td {
  border: 1px black solid;
}
form > .month{
  height: 5%;
  justify-content: center;
  align-items: center;
}
form input{
  display: block;
}
form label{
  margin: 5px 0px;
}
form input{
  border: 1px solid black;
  width: 25%;
  text-align: center;
}
form .task-name{
  display: flex;
  flex-direction: column;
}
form > .task-name input{
  width: 80%;
  margin: 0 auto;
}
form .title{
  align-items: center;
  font-weight: bold;;
  height: 5%;
}
form .date{
  height: 7%;
  align-items: flex-start;
  justify-content: space-between;
}
form .date div:first-child{
  width: 30%;
}
form .date > div:last-child{
  width: 70%;
  justify-content: space-between;
  display: flex;
}
form .date div .change-button{
  border: 1px black solid;
  display: flex;
  justify-content: center;
  margin-right: 15px;
  width: 50%;
  background: red;
}
.change_button{
  width: auto;
}
form .date-picker {
  height: 0%;
  transition-property: height;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}
form .expand{
  height: 40%;
}
form .time {
  align-items: flex-start;
}

form .time div:first-child{
  width: 30%;
}
form .button-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
form .button-container div{
  border: 1px red solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 40%;
}

@media screen and (min-width: 375px) and (max-width: 760px){
  .tasklist{
    font-size: 25px;
  }
}
@media screen and (min-width: 761px){
    body{
      flex-direction: row;
      padding: 40px 20px;
    }
    .body-container1{
      height:100%;
      width: 55%;
    }
    .body-container2{
      height:100%;
      width: 45%;
    }
    .body-container1 th{
      font-size: 20px;
    }
    .body-container1 td{
      font-size: 30px;
    }
    .add-button{
      font-size: 30px;
      order: 1;
    }
    .tasklist{
      font-size: 30px;
    }
    .tasklist ul li{
      flex-direction: column;
      justify-content: space-between;
    }
    .tasklist .time{
      width: 100%;
      display: flex;
      justify-content: space-around;
      height: 25%;
    }
    .tasklist .name{
      width: 100%;
    }
    .tasklist .edit{
      width: 100%;
      height: auto;
      display: flex;
      height: 25%;
    }
}
@media screen and (min-width: 1000px){
    body{
      width: 1000px;
      margin: 0 auto;
    }

}
