.task-form-container{
  position: absolute;
  top: 5%;
  height: 95%;
  width: 100%;
  font-size: 50px;
  transform: scaleY(0);
  transform-origin: top;
  background: white;
}
.task-form-container form {
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.slide{
  transform: scaleY(1.0);
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
form > div {
  display: flex;
  height: 10%;
}
form input{
  display: block;
}
form label{
  display: block;
}
form input{
  border: 1px solid black;
  width: 25%;
  text-align: center;
}
form .task-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form > .task-name input{
  width: 80%;
  margin: 0 auto;
}
form .title{
  align-items: center;
  font-weight: bold;
}
form .date{
  height: 7%;
  align-items: flex-start;
  justify-content: space-between;
}
form .date div{
  display: flex;
  justify-content: space-between;
}
form .date div:first-child{
  width: 300px;
}
form .date-picker {
  height: 0%;
  transition-property: height;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  margin: 3.5%;
}
form .expand{
  height: 30%;
}
form .time {
  align-items: flex-start;
}
form .time label{
  width: 300px;
}
form .button-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
form .button-container div{
  border: 1px red solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 40%;
}
form .time div:first-child{
  width: 30%;
}
