*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  background: #1D2731;
  color: white;
  padding: 10px 10px;
}
.main-menu-container{
  position: absolute;
  top: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #1D2731;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.main-menu-container nav{
  height: 100%;
  font-size: 25px;
}
.main-menu-container ul{
    list-style-type: none;
    height: 100%;
}
.main-menu-container li{
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #0B3C5D;
  border: 1px black solid;
  padding-left: 20px;
}
.main-menu-container a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.stretch{
  transform: scaleX(1.0);
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}
.body-container1{
  height:50%;
  background: #328CC1;
}
.body-container1 > div:first-child{
  height:9%;
}
.body-container1 > div:last-child{
  height:91%;
}
.body-container2{
  height: 50%;
  display: flex;
  flex-direction: column;
}
.body-container2 > div:first-child{
  height:15%;
}
.body-container2 > div:last-child{
  height:85%;
}
.banner{
  width: 100%;
  display: flex;
  font-size: 25px;
  align-items: center;
  background: #0B3C5D;
}
.banner .left{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.banner .month{
  width: 60%;
  text-align: center;
}
.banner .right{
  width: 20%;
  text-align: right;
}
.calendar {
  display: flex;
  width: 100%;
}
.body-container1 table{
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.body-container1 th{
  font-size: 17px;
  background: #0B3C5D;
}
.body-container1 td{
    border: 1px #1D2731 solid;
    font-size: 20px;
    text-align: center;
}
.body-container1 .calendar .clicked{
  color: #D98310;
  color: black;
  text-decoration: underline;
  font-weight: 400;
  background: #d98310;
}
.calendar .blank {
  background: grey;
}
.add-button{
  width: 100%;
  height: 7%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: black 2px solid;
  background: #D98310;
}
.tasklist{
  width: 100%;
  height: 38%;
  font-size: 20px;
  overflow: auto;
  background: #328CC1;
}
.tasklist > ul{
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 100%;
}
.tasklist> ul > li {
  display: flex;
  width: 100%;
  min-height: 40%;
}
.tasklist li.empty{
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.tasklist li > div div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tasklist .time{
  width: 28%;
  background: #0B3C5D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  border-bottom: 1px black solid;
}
.tasklist .time > div{
    width: 100%;
    height: 33.3%;
}
.tasklist .time .start{
  border-bottom: 1px solid black;
}
.tasklist .time .later{
  font-size: 15px;
}
.tasklist .time .end{
  border-top: 1px solid black;
}
.tasklist .name{
  padding: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 55%;
  display: flex;
  align-items: center;
}
.tasklist .edit{
  width: 17%;
  background: #D98310;
  border-bottom: 1px black solid;
  font-size: 15px;
}
.tasklist .edit > div {
  height: 50%;
}
.tasklist .edit > div:first-child{
  border-bottom: 1px solid black;
}
